* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body {
    color: #333333;
    margin: 0;
    display: table;
    width: 100%;
    background-color: #FDFAF7;
    font-size: 1.1em;
}

.header {
    z-index: 1000;
    width: 100%;
    height: 6em;
    position: absolute;
    left: 0;
    align-items: center;
    display: flex;
    font-weight: bold;
    color: #aaaaaa;

    .navi {
        div {
            text-align: end;

            span {
                padding: 0 5px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: #333,
                }
            }

            .active {
                color: #333;
            }
        }

        .title {
            text-align: left;
            font-size: 1.25em;
            color: #333;
        }
    }
}

.section1 {
    height: 100vh;
    padding: 0;
    width: 100%;
    color: #333;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s ease-in;

    .top {
        height: 90%;
        padding-top: 7%;


        .img-container {
            text-align: end;
            padding-right: 1.5em;
            height: 80%;

            img {
                width: auto;
                height: 100%;
            }
        }

        .namintro {
            height: 80%;
            padding: 0 5%;

            .name {
                font-size: 1.5em;
            }

            .intro {
                font-size: 1.1em;
                padding-top: 2em;
                line-height: 1.5em;
                width: 70%;
            }
        }
    }
}


.section2 {
    position: absolute;
    left: -200%;
    top: 0;
    height: 100vh;
    width: 100%;
    padding-top: 7%;
    background-color: #FDFAF7;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);

    .work-navi {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 10px;

        span {
            font-weight: bold;
            margin-left: 5px;
            color: #aaa;
            cursor: pointer;

            &:hover {
                color: #333;
                border-bottom: 2px solid #333;
            }
        }

        .active {
            color: #333;
            border-bottom: 2px solid #333;
        }
    }

    .work-container {
        margin-top: 10px;

        div {

            .overlay {
                width: 100%;
                height: 100%;
                cursor: pointer;
                background-color: #333;
                transition: .5s ease;
                opacity: 0;
                color: #FDFAF7;
                padding: 1.5em;

                &:hover {
                    opacity: 0.7;
                }

                h3 {
                    font-size: 0.9em;
                    margin-bottom: 1em;
                }

                p {
                    font-size: 0.8em;
                }
            }
        }

        .shooter {
            background-image: url("../img/3dShooter.jpg");
        }

        .towerdefense {
            background-image: url("../img/TowerDefense.jpg");
        }

        .studistutti {
            background-image: url("../img/studistutt.JPG");
        }

        .codi {
            background-image: url("../img/Startseite.png");
        }
        .hesem{
            background-image: url("../img/HESEM/HESEM5.PNG");
        }
        .maulwurf{
            background-image: url("../img/maulwurf.PNG");
        }
        .conica{
            background-image: url("../img/Mosaiq/Conica.PNG");
        }
        .erling{
            background-image: url("../img/Mosaiq/Erling1.PNG");
        }
        .ssb{
            background-image: url("../img/Mosaiq/SSB.PNG");
        }
    }

    .game-container {
        display: block;
        height: 260px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 110%;    
        transition: .5s ease;
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        &:hover{    
            background-size: auto 100%;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }
    }

    .web-container {
        display: block;
        height: 260px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 110%;
        transition: .5s ease;
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        &:hover{    
            background-size: auto 100%;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        }
    }
}

.section3 {
    position: absolute;
    left: -200%;
    top: 0;
    height: 100vh;
    width: 100%;
    padding-top: 7%;
    background-color: #FDFAF7;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);

    .contact-container {
        width: 60%;
        margin: 0 auto;

        h1 {
            font-size: 2.5em;
            margin-bottom: 7%;
        }
    }
}

.description{
    position: absolute;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 100%;
    padding-top: 7%;
    background-color: #FDFAF7;
    transition: 1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);   
    .filler{
        width: 80%;
        margin: 0 auto 5% auto;
        .content{
            .intro{
                width: 80%;
                margin: 0 auto;
                line-height: 2em;
                img{
                    width: 100%;
                    margin: 5% 0;
                }
                h3{
                    font-size: 1.5em;
                }
                .contained_text{
                    margin: 0 5%;
                }
                .berserk{
                    width: 80%;
                }
            }
        }
    
        h2{
            font-size: 2em;
            margin-bottom: 5%;
        }
    }
}

@media (min-width: 1201px) and (max-width: 1500px) {
    .work-container {
        .game-container {
            height: 220px;
        }

        .web-container {
            height: 220px;
        }
    }
    .section3{
        padding-top: 10%;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {

    .section1 {
        .top {
            padding-top: 10%;

            .img-container {
                img {
                    width: auto;
                    height: 80%;
                }
            }

            .namintro {
                .name {
                    font-size: 1.2em;
                }

                .intro {
                    padding-top: 2em;
                }
            }
        }
    }
    .section2{
        padding-top: 10%;
    }
    .work-container {
        .game-container {
            height: 165px;
        }

        .web-container {
            height: 165px;
        }
    }
    .section3{
        padding-top: 10%;
    }
    .description{
        padding-top: 10%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section1 {
        .top {
            padding-top: 10%;

            .img-container {
                img {
                    width: auto;
                    height: 70%;
                }
            }

            .namintro {
                .name {
                    font-size: 0.8em;
                }

                .intro {
                    font-size: 1em;
                    padding-top: 2em;
                }
            }
        }
    }
    .section2{
        padding-top: 10%;
    }
    .work-container {
        .game-container {
            height: 175px;
        }

        .web-container {
            height: 175px;
        }
    }
    .section3{
        padding-top: 15%;
    }
    .description{
        padding-top: 15%;
        .filler{
            .content{
                .intro{
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .section1 {
        .top {
            padding-top: 25%;

            .img-container {
                text-align: center;
                padding-right: 0;

                img {
                    width: auto;
                    height: 90%;
                }
            }

            .namintro {
                height: 400px;

                .name {
                    font-size: 0.6em;
                }

                .intro {
                    font-size: 1em;
                    padding-top: 2em;
                }
            }
        }
    }
    .section2{
        padding-top: 20%;
    }
    .work-container {
        .game-container {
            height: 195px;
        }

        .web-container {
            height: 195px;
        }
    }
    .section3{
        padding-top: 20%;
    }
    .description{
        padding-top: 18%;
        .filler{
            h2{
                font-size: 1.5em;
            }
            
            .content{
                .intro{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .section1 {
        .top {
            padding-top: 25%;

            .img-container {
                text-align: center;
                padding-right: 0;

                img {
                    width: auto;
                    height: 90%;
                }
            }

            .namintro {
                height: 300px;

                .name {
                    font-size: 0.6em;
                }

                .intro {
                    font-size: 1em;
                    padding-top: 2em;
                }
            }
        }
    }
    .section2{
        padding-top: 25%;
    }
    .work-container {
        .game-container {
            height: 215px;
        }

        .web-container {
            height: 215px;
        }
    }
    .section3{
        padding-top: 25%;
        font-size: 0.9em;
    }
    .description{
        padding-top: 20%;
        font-size: 0.9em;
        .filler{
            h2{
                font-size: 1.5em;
            }
            
            .content{
                .intro{
                    width: 100%;
                }
            }
        }
    }
}